body > .launch-hangout {
    position: absolute;
    bottom: 20px; 
    right: 10px;
}

body > .launch-hangout span { display: none; }

body > .launch-hangout .hangout-button {
    /*background: url(https://dl.dropboxusercontent.com/u/2284644/buttons.png) no-repeat 0 0;*/
    width: 112px;
    height: 24px;
    display: block;
    margin: 0;
    float:left;
}

body > .launch-hangout .add-product-hangout {
    /*background: url(https://dl.dropboxusercontent.com/u/2284644/buttons.png) no-repeat -120px 0;*/
    height: 24px;    
    width: 50px;
    display: block;
    margin: 0;
    float: left;
}